{% extends 'layout.html' %}
{% block title %}Edit Card{% endblock %}
{% block content %}
<body class="text-center">
    <div class="container" style="margin-top: 75px;">
        <form method="POST" class="form-signin" style="color:white">
            <br>
            {{ form.update_question.label() }}
            {{ form.update_question(class="form-control", placeholder=item.question) }}
            <br>
            {{ form.update_answer.label() }}
            {{ form.update_answer(class="form-control", placeholder=item.answer) }}
            <br><br>
            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
            <br>
        </form>
    </div>
</body>
{% endblock %}