.card {
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    width: 50rem;
    margin: 0 auto;
    margin-top: 2%;
    background-color: rgb(238, 94, 94);
    text-align: center;
  }