* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    /* scroll-behavior: smooth; */
}
body {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    line-height: 1;
    color: #555;
    overflow-x: hidden;
}

/*Reusable styles*/

.grid {
    display: grid;
    column-gap: 6.4rem;
    row-gap: 9.6rem;
}

.grid:not(:last-child) {
    margin-bottom: 9.6rem;
}

.grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
    grid-template-columns: repeat(4, 1fr);
}
.grid--5-cols {
    grid-template-columns: repeat(5, 1fr);
}

.grid--center-v {
    align-items: center;
}

.btn,
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 1.6rem 3.2rem;
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
    border-radius: 9px;
    transition: all 0.3s;

    border: none;
    cursor: pointer;
    font-family: inherit;
}
.btn--full:link,
.btn--full:visited {
    background-color: #e67e22;
    color: #fff;
}
.btn--full:hover,
.btn--full:active {
    background-color: #cf711f;
}
.btn--outline:link,
.btn--outline:visited {
    color: #333;
    background-color: #fff;
}
.btn--outline:hover,
.btn--outline:active {
    background-color: #fdf2e9;
    box-shadow: inset 0 0 0 3px #fff;
}
.btn--form {
    background-color: #45260a;
    color: #fdf2e9;
    align-self: end;
    padding: 1.2rem;
}

.btn--form:hover {
    background-color: #fff;
    color: #555;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
    font-weight: 700;
    color: #333;
    letter-spacing: -0.5px;
}
.heading-primary {
    font-size: 5.2rem;
    line-height: 1.05;
    margin-bottom: 3.2rem;
}
.heading-secondary {
    font-size: 4.4rem;
    line-height: 1.2;
    margin-bottom: 9.6rem;
}
.heading-tertiary {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
}
.subheading {
    display: block;
    font-size: 2rem;
    font-weight: 500;
    color: #cf711f;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    letter-spacing: 0.75px;
}
.margin-right-sm {
    margin-right: 1.6rem !important;
}

.margin-bottom-md {
    margin-bottom: 4.8rem !important;
}

.center-text {
    text-align: center;
}
.container {
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}

strong {
    font-weight: 500;
}

.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}
.list-item {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
    line-height: 1.2rem;
}
.list-icon {
    height: 3rem;
    width: 3rem;
    color: #e67e22;
}

*:focus {
    outline: none;
    /* outline: 4px dotted #e67e22;
    outline-offset: 8px; */
    box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}
