/*Header*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fdf2e9;
    height: 9.6rem;
    padding: 0 4.8rem;
    position: relative;
}
.logo {
    height: 2.2rem;
}

/* mobile */
.btn-mobile-nav {
    border: none;
    background: none;
    cursor: pointer;
    display: none;
}
.icon-mobile-nav {
    height: 4.8rem;
    width: 4.8rem;
    color: #333;
}

.icon-mobile-nav[name="close-outline"] {
    display: none;
}

/* Navigation */

.main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4.8rem;
}

.main-nav-links:link,
.main-nav-links:visited {
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.8rem;
    color: #333;
    transition: all 0.3s;
}
.main-nav-links:hover,
.main-nav-links:active {
    color: #cf711f;
}

.main-nav-links.nav-cta:link,
.main-nav-links.nav-cta:visited {
    display: inline-block;
    padding: 1.2rem 2.4rem;
    border-radius: 9px;
    background-color: #e67e22;
    color: #fff;
}

.main-nav-links.nav-cta:hover,
.main-nav-links.nav-cta:active {
    background-color: #cf711f;
}

/* STICKY NAVIGATION */
.sticky .header {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 8rem;
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgba(255, 255, 255, 0.97);
    z-index: 999;
    box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
    margin-top: 9.6rem;
}

/*Hero Section*/

.hero {
    max-width: 130rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    align-items: center;
}
.section-hero {
    background-color: #fdf2e9;
    padding: 4.8rem 0 9.6rem 0;
}
.hero-image {
    width: 100%;
}
.hero-description {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
}

.delivered-meals {
    margin-top: 8rem;
    align-items: center;
    gap: 1.6rem;
    display: flex;

    /* flex-direction: column; */
}
.delivered-imgs {
    display: flex;
}
.delivered-imgs img {
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    margin-right: -1.6rem;
    border: 3px solid #fdf2e9;
}
.delivered-imgs img:last-child {
    margin: 0;
}
.delivered-text {
    font-size: 1.8rem;
    font-weight: 600;
}

.delivered-text span {
    color: #cf711f;
}

/* Section Featured In */
.section-featured {
    padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2.4rem;
    color: #888;
}

.logos {
    display: flex;
    justify-content: space-around;
}
.logos img {
    height: 3.2rem;
    filter: brightness(0);
    opacity: 50%;
}
/*Section */
.section-how {
    padding: 9.6rem 0;
}
.step-number {
    font-size: 8.6rem;
    font-weight: 600;
    color: #ddd;
    margin-bottom: 1.2rem;
}

.step-description {
    font-size: 1.8rem;
    line-height: 1.8;
}
.step-img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.step-img-box::before,
.step-img-box::after {
    content: "";
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.step-img-box::before {
    background-color: #fdf2e9;
    width: 60%;
    /* height: 60%; */
    padding-bottom: 60%;
    z-index: -2;
}
.step-img-box::after {
    background-color: #fae5d3;
    width: 45%;
    padding-bottom: 45%;
    z-index: -1;
}
.step-img {
    width: 35%;
}

/*Meals Section*/
.section-meal {
    padding: 9.6rem 0;
}
.meal-tags {
    margin-bottom: 1.2rem;
    display: flex;
    gap: 0.4rem;
}
.meal {
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    border-radius: 11px;
    overflow: hidden;
    transition: all 0.4s;
}

.meal:hover {
    transform: translateY(-1.2rem);
    box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal-content {
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}
.tag {
    display: inline-block;
    font-size: 1.2rem;
    padding: 0.4rem 0.8rem;
    text-transform: uppercase;
    color: #333;
    border-radius: 100px;
    font-weight: 600;
}
.tag--vegetarian {
    background-color: #51cf66;
}
.tag--vegan {
    background-color: #94d82d;
}
.tag--paleo {
    background-color: #ffd43b;
}
.meal-title {
    font-size: 2.4rem;
    color: #333;
    font-weight: 600;
    margin-bottom: 3.2rem;
}

.meal-attributes {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.meal-attribute {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}
.meal-img {
    width: 100%;
}
.meal-icon {
    height: 2.4rem;
    width: 2.4rem;
    color: #e67e22;
}

.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}
.list-item {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}
.list-icon {
    height: 3rem;
    width: 3rem;
    color: #e67e22;
}
.all-recipes {
    text-align: center;
    font-size: 1.8rem;
}

.link:link,
.link:visited {
    display: inline-block;
    color: #e67e22;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    transition: all 0.3s;
}
.link:hover,
.link:active {
    color: #cf711f;
    border-bottom: 1px solid transparent;
}

/* Tesimonials */
.section-testimonials {
    background-color: #fdf2e9;
    display: grid;
    grid-template-columns: 55fr 45fr;
    align-items: center;
}

.testimonials-container {
    padding: 9.6rem;
}
.testimonials {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 4.8rem;
    column-gap: 8rem;
}

.testimonial-img {
    height: 6.4rem;
    border-radius: 50%;
    margin-bottom: 1.2rem;
}

.testimonial-text {
    font-size: 1.8rem;
    list-style: 1.8;
    margin-bottom: 1.6rem;
}

.testimonial-name {
    font-size: 1.6rem;
    color: #6f6f6f;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    padding: 1.6rem;
}
.gallery-item {
    overflow: hidden;
}
.gallery-item img {
    display: block;
    width: 100%;
    transition: all 0.4s;
}

.gallery-item img:hover {
    transform: scale(1.1);
}

/*Pricing Section*/
.section-pricing {
    padding: 9.6rem 0;
}

.plan-header {
    text-align: center;
    margin-bottom: 4.8rem;
}
.plan-name {
    color: #cf711f;
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.75;
    margin-bottom: 3.2rem;
}
.plan-price {
    font-size: 6.2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1.6rem;
}
.plan-price span {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 0.8rem;
}
.plan-text {
    font-size: 1.6rem;
    line-height: 1.6;
    color: #6f6f6f;
}

.plan-sign-up {
    text-align: center;
    margin-top: 4.8rem;
}

.plan-details {
    font-size: 1.6rem;
    line-height: 1.6;
    text-align: center;
}

.pricing-plan {
    border-radius: 11px;
    width: 75%;
}

.pricing-plan--starter {
    justify-self: end;
    border: 2px solid #fdf2e9;
    padding: 4.6rem;
}

.pricing-plan--complete {
    background-color: #fdf2e9;
    padding: 4.8rem;
    position: relative;
    overflow: hidden;
}

.pricing-plan--complete::after {
    content: "Best value";
    position: absolute;
    top: 6%;
    right: -18%;

    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    background-color: #ffd43b;
    padding: 0.8rem 8rem;
    transform: rotate(45deg);
}

.feature-icon {
    color: #e67e22;
    height: 3.2rem;
    width: 3.2rem;
    background-color: #fdf2e9;
    margin-bottom: 3.2rem;
    padding: 1.6rem;
    border-radius: 50%;
}
.feature-title {
    font-size: 2.4rem;
    color: #333;
    font-weight: 700;
    margin-bottom: 1.6rem;
}
.feature-text {
    font-size: 1.8rem;
    line-height: 1.8;
}

/*CTA Section*/
.section-cta {
    padding: 4.8rem 0 12.8rem;
}

.cta {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #e67e22;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    border-radius: 11px;
    overflow: hidden;
    background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
}

.cta-text-box {
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
    color: #45260a;
}
.cta .heading-secondary {
    color: #45260a;
    margin-bottom: 3.2rem;
}
.cta-text {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 4.8rem;
}
.cta-img-box {
    background-image: linear-gradient(
            to right bottom,
            rgba(235, 151, 78, 0.35),
            rgba(230, 125, 34, 0.35)
        ),
        url(../img/eating.jpg);
    background-size: cover;
    background-position: center;
}

.cta-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem;
    row-gap: 2.4rem;
}

.cta-form label {
    display: block;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
}
.cta-form input,
.cta-form select {
    width: 100%;
    padding: 1.2rem;
    font-size: 1.8rem;
    font-family: inherit;
    color: inherit;
    border: none;
    background-color: #fdf2e9;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
    color: #aaa;
}

.cta-form *:focus {
    outline: none;
    box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

/*Footer*/
.footer {
    padding: 12.8rem 0;
    border-top: 1px solid #eee;
}

.grid--footer {
    /* grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(2, 1.5fr) repeat(3, 1fr);
}
.logo-col {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    display: block;
    margin-bottom: 3.2rem;
}

.social-links {
    list-style: none;
    display: flex;
    gap: 2.4rem;
}
.social-icon {
    height: 2.4rem;
    width: 2.4rem;
}
.copyright {
    font-size: 1.4rem;
    line-height: 1.6;
    color: #767676;
    margin-top: auto;
}

.footer-heading {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 3.2rem;
}

.contacts {
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.6;
}
.address {
    margin-bottom: 2.4rem;
}
.footer-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: #767676;
    transition: all 0.3s;
}
.footer-link:hover,
.footer-link:active {
    color: #555;
}
