*{
    font-family: "Helvetica Neue";
    margin:0px ;
    padding:0px;
}
h1{
    text-align: center;
}
body::before{
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    top:0px;
    position:absolute;
    background: url('../static/1.jpg');
}
nav{
    background-color: grey;
    padding: 12px 20px;
}
ul{
    display: flex;
    flex-direction:row;
}
ul li{
    list-style:none;
    padding: 3px 10px;
    /* margin:2px; */
}
ul li a{
    text-decoration: none;
    color:white;
    font-weight:bold;
}
.container{
    margin:12px auto;
    /* background-color:yellow; */
    /* background: url('/static/1.jpg') center center no-repeat cover; */
    max-width:70%;
}
input, textarea{
    display:flex;
    flex-direction:column;
    padding:5px;
    margin: 15px auto;
    width:60%;
    outline:none;
    border:2px solid black;
    border-radius: 5px;
}
.btn{
    margin:4px auto;
    display:block;
    padding: 8px 10px;
    background-color:grey;
    color:white;
    font-weight:bold;
    font-size:15px;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
}